<ul class="row">
  <% drinks.forEach((d) => { %>
  <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6 drink-grid-container">
    <a class="drinks-container" href="/<%= d.idDrink %>">
      <img
        class="rounded-circle drinks-img"
        src="<%= d.strDrinkThumb %>"
        alt="<%= d.strDrinkThumb %>"
      />

      <svg class="drink-text-svg" viewBox="0 0 240 240">
        <defs>
          <path
            id="circlePath<%= d.idDrink %>"
            d="M120,120 m-110,0 a110,110 0 1,1 220,0 a110,110 0 1,1 -220,0"
          />
        </defs>
        <text>
          <textPath href="#circlePath<%= d.idDrink %>" startOffset="25%">
            <%= d.strDrink.toUpperCase() %>
          </textPath>
        </text>
      </svg>
    </a>
  </li>
  <% }) %>
</ul>
