<!-- <div class="drink">
  <img src="<%= drink.thumb %>" alt="Cocktail" class="thumbnail" />
  <div class="info">
    <div class="detail">
      <h2><%= drink.name %></h2>
      <p><%= drink.category %> - <%= drink.Alcoholic %> - <%= drink.glass %></p>
    </div>
    <hr />
    <div class="ingredient info-container">
      <div class="info-title">
        <h3>INGREDIENTS</h3>
      </div>
      <div>
        <ul>
          <% drink.ingredients.forEach(({i, m}) => { %>
          <li>
            <span class="measure"><%= m || "" %></span>
            <span class="item"><%= i %></span>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <hr />
    <div class="instruction info-container">
      <div class="info-title">
        <h3>INSTRUCTION</h3>
      </div>
      <div class="info-text">
        <p><%= drink.instruction %></p>
      </div>
    </div>
  </div>
</div> -->

<div class="row drink" bis_skin_checked="1">
  <div class="col-lg-8 col-md-6 column" bis_skin_checked="1">
    <img src="<%= drink.thumb %>" alt="Cocktail" class="thumbnail" />
  </div>
  <div class="col-lg-4 col-md-6 column info" bis_skin_checked="1">
    <div class="detail">
      <h2><%= drink.name %></h2>
      <p><%= drink.category %> - <%= drink.Alcoholic %> - <%= drink.glass %></p>
    </div>
    <hr />
    <div class="ingredient info-container">
      <div class="info-title">
        <h3>INGREDIENTS</h3>
      </div>
      <div>
        <ul>
          <% drink.ingredients.forEach(({i, m}) => { %>
          <li>
            <span class="measure"><%= m || "" %></span>
            <span class="item"><%= i %></span>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <hr />
    <div class="instruction info-container">
      <div class="info-title">
        <h3>INSTRUCTION</h3>
      </div>
      <div class="info-text">
        <p><%= drink.instruction %></p>
      </div>
    </div>
  </div>
  </div>
</div>
